.App {
  text-align: center;
  animation-delay: 0s;

}

.Header {
  color: white;
  display: flex;
  position: fixed;
  width: 100%;
}

.HeaderTitle {
  font-size: 350%;
}

.songTitle {
  font-size: 10px;
  margin-left: 85%;
  margin-top: 5%;
  width: 100%;
  transition: all 2s ease-in;

}
/* 
.IntroTitle {
  color: white;
  font-size: 700%;
} */

.IntroSubHeading {
  font-size: 200%;
}

.introSection {
  padding: 2%;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  text-align: center;
  margin: auto;
  width: fit-content;
  border-radius: 5px;
}

li {
  font-size: 13px;
  text-align: center;
  list-style-position: inside;
}

.PageHeader {
  font-size: 50px;
}

.PageMainContent {
  font-size: 15px;
  max-width: 90%;
  margin: auto;
}

.Stack {
  font-style: italic;
  font-size: 15px;
}
.Date{
  font-size: 14px;
}

.location {
  font-size: 14px;
}

.BackContainer {
  display: flex;
  justify-content: space-between;
}

.BackButton {
  position: relative;
  background-color: transparent;
  z-index: 10;
  display: inline-block;
  margin-right: auto;
  color: white;
  text-decoration: underline;
  font-size: 25px;
}

.QualiTitle {
  font-size: 21px;
}

.techlist {
  font-size: 17px;
  columns: 3
}

.element {
  font-size: 17px;
}

.element :hover {
text-decoration: underline;
}

.BackButton:hover {
  text-decoration-color: #f16f6f;
}

.pageSection {
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  text-align: center;
  margin: auto;
  width: fit-content;
  border-radius: 5px;
  font-size: 23px;
}




.IntroButton {
  font-size: 250%;
  justify-content: center;
  text-align: center;
  margin: auto;
  
  width: fit-content;
  padding-bottom: 7%;
  text-decoration: underline;
  color: white;
}

.sword {
  max-height: 450px;
  height: 55%;
  justify-content: center;
  text-align: center;
  margin: auto;
}



.IntroTitle {
  text-align: center;
  color: #fff;
  color: white;
  font-size: 700%;
  /*Create overlap*/
  

  /*Animation*/
  
}

.IntroTitle:nth-child(2):hover {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

.IntroTitle:nth-child(3):hover {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, 0deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, 0deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 0deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.HeaderButton {
  font-size: medium;
  text-decoration: underline;
  text-decoration-color: white;
  font-size: 150%;
  padding-left: 2%;
  padding-top: 0.5%;
}
.PageContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.ProfilePicture {
  max-height: 30%;
  max-width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.PageSubContent {
  border-radius: 10px;
  padding: 2%;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.Page {
  width: 100%;
  height: 100vh;
  animation-delay: 0s;
  -webkit-backface-visibility: hidden;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;


}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  position: fixed;
  display: block;
  margin: 0 auto;
}



.HeaderButton:hover {
  text-decoration-color: pink;
  transition: all 2s ease-in;
}
.IntroButton:hover {
  
  text-decoration-color: palevioletred;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.IntroButton:visited {
  color: white;
}

.IntroButton:link {
  color: white;
}


.IntroTitle:hover {
  animation: glitch1 5.5s infinite;

}

canvas {
  width: 100%;
  height: 100vh;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 2s ease 0.3s forwards;
  animation-delay: 0s;
}

@media(max-width: 850px) {
  .IntroTitle {
    color: white;
    font-size: 480%;
  }
}

@media(max-height: 850px) {
  .sword {
    height: 5%;
  }

  .PageContent {
    padding-top: 43%;

  }


  .IntroTitle {
    font-size: 240%;
  }
  
  .IntroSubHeading {
    font-size: 105%;
  }


  .introSection {
    padding-top: 1%;
    
  }

  .sword {
    height: 60%;
  }
  
  .IntroButton {
    font-size: 130%;
    padding-bottom: 13%;
    
  }


}


@media (max-width:450px)  {
  .ProfilePicture {
    max-height: 50%;
    max-width: 50%;

  }
  .player_container
  { 
      width: 62.5%;
      height: fit-content;
      color: white;
      padding-top: 1%;
      padding-left: 1%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
    z-index: 9;
      >*
      {
          padding: 0rem 0;
          color: rgb(202, 202, 202);
      }
      .controls{
      margin-left: 0%;
  
          font-size: inherit;
          display: flex;
          align-items: center;
  
          .btn_action
          {
              font-size:5px;
              margin: 0 1rem;
              cursor: pointer;
  
              &:hover{
              color: white;
          }
  
          }
          
          .pp
          {
              font-size: 2rem;
              
          }
          
      }
  }


  .HeaderTitle {
    font-size: 170%;
  }
  .pageSection {
    font-size: 20px;
  }
  .element {
    font-size: 16px;
    text-align: left;
  }
  .bigboy {
    margin-bottom: 75%;
  
  }

  .education {
    margin-bottom: 90%
  }
  .songTitle {
    opacity: 0;
  }
  
  
  .HeaderButton {
    font-size: medium;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 80%;
  }

  .IntroTitle {
    font-size: 240%;
  }
  
  .IntroSubHeading {
    font-size: 105%;
  }

  .introSection {
    padding-top: 1%;
  }

  .sword {
    height: 55%;
  }
  
  .IntroButton {
    font-size: 135%;
    padding-bottom: 13%;
  }

}

@media (max-height: 450px) {

  .sword {
    height: 5%;
  }


  .IntroTitle {
    font-size: 180%;
  }
  
  .IntroSubHeading {
    font-size: 105%;
  }


  .introSection {
    padding-top: 1%;
  }

  .sword {
    height: 40%;
  }
  
  .IntroButton {
    font-size: 105%;
    padding-bottom: 13%;
  }
  
}


.player_container
{ 	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    color: rgb(218, 218, 218);
    padding-top: 1%;
    padding-left: 1%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  z-index: 20;
    >*
    {
        padding: 0rem 0;
        color: rgb(202, 202, 202);
    }
    .controls{
    margin-left: 85%;

        font-size: inherit;
        display: flex;
        align-items: center;

        .btn_action
        {
            font-size: 2rem;
            margin: 0 1rem;
            cursor: pointer;

            &:hover{
            color: #f16f6f;
              transition: all 0.3s ease-in;

        }

        }
        
        .pp
        {
            font-size: 2rem;
            
        }
        
    }
}



